.product {
  &__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    &:first-child {
      margin-bottom: 5rem;
    }
  }
}
.charger {
  &__device {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &__image {
    width: auto;
    height: 3.75rem;
    margin-right: 0.375rem
  }

  &__info {
    display: flex;
    flex-flow: column nowrap;
  }

  &__type,
  &__uuid,
  &__connectivity {
    color: #8E98a7;
  }

  &__type,
  &__connectivity,
  &__time {
    line-height: 0.875rem;
    font-size: 0.875rem;
  }

  &__uuid {
    padding: 0.25rem 0;
    line-height: 0.75rem;
    font-size: 0.75rem;
  }

  &__connectivity {
    display: flex;
    align-content: center;
  }
}